<!-- <div class="container">
  <div class="heading">
    <h3>{{sheet.sheet_name}}</h3>
  </div>
  <div class="sheet-container">
    <div *ngFor="let question of sheet.questions">
      <app-sheet [question]="question"></app-sheet>
  </div>
  </div>
</div> -->

<!-- <div class="container">
  <app-side-bar [selected]="'sheets'"></app-side-bar>
  <div class="right">
    <app-header [title]="sheet.sheet_name"></app-header>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab  label={{sheet.sheet_name}}>

        <div class="sheet-container">
          <div *ngFor="let users of userRoom.users_questions">.
            <div *ngIf="users.user_email==user.email">
              <app-question  *ngFor="let question of users.questions" [question]="question"></app-question>
            </div>

        </div>
        </div>

      </mat-tab>

      </mat-tab-group>
  </div>
</div> -->

<div class="container">
  <app-side-bar [selected]="'learning'"></app-side-bar>
  <div class="right">
    <app-header *ngIf="sheet" [title]="sheet.sheet_name"></app-header>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab *ngIf="sheet" label="{{ sheet.sheet_name }}">
        <div *ngIf="isLoading" class="load-container">
          <app-spinner></app-spinner>
        </div>
        <div class="sheet-container">
          <div *ngIf="userRoom.users_questions.length==0" class="empty-container">
            <div> You have not enrolled the sheet yet!</div>
            <img src="../../../assets/empty.png">
          </div>
          <div class="users" *ngFor="let users of userRoom.users_questions">
            <div class="search">
              <mat-form-field class="search-bar" appearance="fill">
                <input matInput class="form-control" type="text" name="search" [(ngModel)]="searchQuestion" autocomplete="off" placeholder="  Start searching for a question">
              </mat-form-field>
              <mat-form-field class="select" appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="selectedCategory" name="category">
                  <mat-option *ngFor="let cat of categories" [value]="cat">
                    {{cat}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="select" appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="selectedStatus" name="status">
                  <mat-option *ngFor="let stat of status" [value]="stat">
                    {{stat.word}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            </div>
            <div
            @rightToLeft
              *ngIf="users.user_email == user.email && id == userRoom.sheet.id&& users.questions.length>0"
            >

              <app-question

                *ngFor="let question of users.questions  | searchStatus:selectedStatus?.num| searchQuestion:searchQuestion | searchCategory:selectedCategory "
                [question]="question"
                [personal]="true"
                [page]='"learning"'
              ></app-question>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- <div class="container">
  <div class="board">
    <div class="heading">
      <h3>Room</h3>
    </div>


  </div>
</div> -->
