


<div class="container">
  <app-side-bar [selected]="'sheets'"></app-side-bar>
  <div class="right">
    <app-header></app-header>

    <mat-tab-group mat-stretch-tabs>
      <mat-tab  label="Sheet">
        <div *ngIf="loaderService.isLoading | async" class="load-container">
          <app-spinner></app-spinner>
        </div>
        <div    *ngIf="sheets.length>0" class="sheet" >

          <div  *ngFor="let sheet of sheets;let i= index">
          <mat-card @rightToLeft *ngIf="i%2==0"  (click)="moveToSheet(sheet.id,sheet)">
            <div class="above">

                <button mat-raised-button  color="primary">{{sheet.sheet_name}}</button>



             <!-- <div class="code">{{sheet.sheet_name}}</div> -->
              <img src="../../../assets/sheet.jpg" mat-card-image>
              <div class="icon-exp-class">
                <mat-icon>description</mat-icon>

                <div class="name" matTooltip="{{sheet.sheet_description}}"  matTooltipClass="tooltip">{{sheet.sheet_description}}</div>
              </div>
              <div class="divider"></div>
            </div>
            <div class="below">
              <div class="icon-exp-class">
                <mat-icon>supervised_user_circle</mat-icon>
                <div class="text">Users:</div>
                <div class="name">{{sheet.enrolled_users_count}} </div>
              </div>
            </div>

          </mat-card>

          <mat-card @leftToRight *ngIf="i%2!=0"  (click)="moveToSheet(sheet.id,sheet)">
            <div class="above">

                <button mat-raised-button  color="primary">{{sheet.sheet_name}}</button>



             <!-- <div class="code">{{sheet.sheet_name}}</div> -->
              <img src="../../../assets/sheet.jpg" mat-card-image>
              <div class="icon-exp-class">
                <mat-icon>description</mat-icon>

                <div class="name" matTooltip="{{sheet.sheet_description}}"  matTooltipClass="tooltip">{{sheet.sheet_description}}</div>
              </div>
              <div class="divider"></div>
            </div>
            <div class="below">
              <div class="icon-exp-class">
                <mat-icon>supervised_user_circle</mat-icon>
                <div class="text">Users:</div>
                <div class="name">{{sheet.enrolled_users_count}} </div>
              </div>
            </div>

          </mat-card>

        </div>
        </div>
      </mat-tab>

      </mat-tab-group>
  </div>
</div>


  <!-- <mat-card >
            <mat-card-header>
              <mat-card-title>{{sheet.sheet_name}}</mat-card-title>
              <mat-card-subtitle>{{sheet.sheet_description}}</mat-card-subtitle>
              <mat-card-subtitle>{{sheet.enrolled_users_count}} enrolled users</mat-card-subtitle>
            </mat-card-header>
            <img src="../../../assets/sheet.jpg" mat-card-image>

            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="moveToSheet(sheet.id,sheet)">View Sheet </button>
            </mat-card-actions>
          </mat-card> -->

