// .container{
//   width:90vw;
//   height:90vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   .heading{
//     width:30%;
//     height:10%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     align-self: center;

//   }
//   .sheet-container{
//     width: 80%;
//     height:90%;
//     display: flex;
//     flex-direction: column;
//     overflow-y: scroll;
//     overflow-x: hidden;

//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

//   }
//   .sheet-container::-webkit-scrollbar {
//     width: 8px;
//     height:8px;
//   }

//   /* Track */
//   .sheet-container::-webkit-scrollbar-track {
//     // background: #f1f1f1;
//     background-color:#091e4214;
//     box-shadow: inset 0 0 5px grey;
//     border-radius: 10px;

//   }

//   /* Handle */
//   .sheet-container::-webkit-scrollbar-thumb {
//     background: #888;
//     border-radius: 10px;

//   }

//   /* Handle on hover */
//   .sheet-container::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }
// }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: black;
  opacity: 0.9;
  overflow: hidden;
  app-side-bar {
    width: 15%;
    height: 100%;
  }
  .right {
    width: 85%;
    height: 100%;

    background-color: white;

    border-top-left-radius: 50px;
    margin-top: 0.4rem;
    display: flex;

    flex-direction: column;

    mat-tab-group {
      width: 100%;
      height: 100%;
      margin-left: 2rem;



        .sheet-container {
          margin-top: 1rem;
          width: 95%;
          height: 75vh;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          overflow-x: hidden;


          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .sheet-container::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }

        /* Track */
        .sheet-container::-webkit-scrollbar-track {
          // background: #f1f1f1;
          background-color: #091e4214;
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px;
        }

        /* Handle */
        .sheet-container::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 10px;
        }

        /* Handle on hover */
        .sheet-container::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

  }
}
