<nav class="navbar">
    <img src="assets/newLogo.png" class="navlogo">
    <button>Get Started</button>
</nav>
<main class="main">
    <div class="top">
        <p class="heading1">Move beyond the limitations of
        </p>
        <h3>E-Learning</h3>
        <div class="headDesc">
            <p class="headText">One stop solution for all relevant eLearning resources, personalised for your profile
                and a unique group
                study collaboration experience with your peers.</p>
        </div>
    </div>
    <div class="middle">
        <div class="desc">
            <p>All your streaming services in one place.</p>
        </div>
        <div class="images">
            <div class="image">
                <img src="assets/coursera.png">
            </div>
            <div class="image">
                <img src="assets/udemy.png">
            </div>
            <div class="image">
                <img src="assets/youtube.png">
            </div>
        </div>
        <div class="video">
            <iframe width="950" height="450" src="https://www.youtube.com/embed/WNtzUR_MwUQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="bottom">
        <div class="firstDesc">
            <div class="desc">
                <h3 class="highlight">Set realistic goal before you start the course</h3>
                <p>Learn business, creative, education and tech skills taught by expert instructors from a single
                    platform.</p>
            </div>
            <div class="images">
                <img src="assets/Home-img-1.jpg" class="mainImages">
            </div>
        </div>
        <div class="firstDesc">
            <div class="images">
                <img src="assets/Home-img-2.jpg" class="mainImages">
            </div>
            <div class="desc">
                <h3 class="highlight">Peer collaborative learning</h3>
                <p>Experience one of a kind seamless classroom learning experience one click away with real time
                    interactions with your peers. Swift and Easy.</p>
            </div>

        </div>
        <div class="firstDesc">

            <div class="desc">
                <h3 class="highlight">Anytime anywhere learn from your schedule from any device</h3>
                <p>Get personalised recommendation, specially curated based on your current skills and aspirations, thus
                    reducing your efforts and time to reach the relevant content.</p>
            </div>
            <div class="images">
                <img src="assets/Home-img-3.jpg" class="mainImages">
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <p>© 2021 LTET, Inc</p>
</footer>