/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100vw; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;

 }




 .bdrop {
   width: 85%;
   height:90%;
   top:10%;
   left:15%;
   position: absolute;
  // background-color: rgb(184, 172, 172);
  // backdrop-filter: blur(4px);
  background-color: rgb(250, 252, 251);
    backdrop-filter: blur(20px);

}

.mat-tab-body.mat-tab-body-active {

  overflow-y: hidden !important;


}
