<div class="container">
  <div class="login-box">
    <div class="heading">
      <h3>Invite Room</h3>
    </div>
    <div class="list">
      <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">

          <label>Enter email</label>

          <div class="form-group">
            <input type="text" formControlName="email" />
            <span
              *ngIf="
                !inviteForm.get('email')?.valid && inviteForm.get('email')?.touched
              "
              style="color: red"
              >Please Enter Email</span
            >
          </div>

        <button mat-raised-button color="primary">Invite</button>
      </form>
    </div>
  </div>
</div>
